*{
    padding: 0px;
    margin: 0px;
    background-color: black;
}


h1{
    background-color: gainsboro;
    width: fit-content;
    padding:20px 90px;
    font-size: 100px;
    margin: 20px;
    border-radius: 10px;
}


button{
    padding: 10px 20px;
    margin: 20px;
    background-color: gainsboro;
    border-radius: 10px;
    cursor: pointer;
}